 table{
            text-align: center;
            border-collapse: collapse;
            border: 1px solid black;
        }
        th, td {
            border: 1px solid black;
            text-align: center;
        }
    